@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;

}
.navbar{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    width: 100vw;
    height: 12vh;
}
.logo{
    padding-left: 40px;
    padding-top: 20px;
}
.nav-content{
    font-family: 'Poppins', sans-serif;
    padding-top: 40px;
    width: 40vw;
    display: flex;
    gap: 3vw;
    font-size: 1vw;
}
.nav-content a{
    text-decoration: none;
}
.mid-sec{
    display: flex;
    background-color: #d7fbff;
    height: 80vh;
}
.mid-info{
    padding-left: 200px;
    padding-top: 350px;
    text-align: center;
    width: 50%;
}
.mid-img{
    width: 50%;
    padding-top: 200px;
    padding-left: 120px;
}
.p1{
    font-size: 50px;
    font-family: 'Press Start 2P', cursive;
    padding-bottom: 10px;
    font-weight : 300;
    width: 90vh;
}
.p2{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding-top: 15px;
    font-weight: 50;
}
.mid-img img{
    height: 400px;
}
.about-me-container{
    height: 80vh;
    /* background-color: red; */
}
.small-container{
    /* margin: 200px 200px 15px 200px; */
    padding-top: 200px;
    padding-left: 100px;
    padding-right: 150px;
    display: flex;
    justify-content: space-between;
}
.my-img{
    /* padding-top: 80px;
    padding-left: 30px; */
}
.my-img img{
    height: 400px;
}
.about-me-content{
    padding-right: 100px;
    padding-top: 80px;
}
span{
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
}
.new{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 10;
}