@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;

}
.navbar{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    width: 100vw;
    height: 12vh;
}
.logo{
    padding-left: 40px;
    padding-top: 2vh;
}
.user-img{
    height: 8vh;
}
.nav-content{
    font-family: 'Poppins', sans-serif;
    padding-top: 4vh;
    width: 40vw;
    display: flex;
    gap: 3vw;
    font-size: 1vw;
    font-weight: 500;
}
.nav-content a{
    text-decoration: none;
}
.mid-sec{
    display: flex;
    background-color: #d7fbff;
    height: 80vh;
}
.mid-info{
    padding-left: 20vh;
    padding-top: 35vh;
    text-align: center;
    width: 50%;
}
.mid-img{
    width: 50%;
    padding-top: 20vh;
    padding-left: 13vw;
}
.p1{
    font-size: 5vh;
    font-family: 'Press Start 2P', cursive;
    padding-bottom: 10px;
    font-weight : 300;
    width: 90vh;
}
.p2{
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    padding-top: 15px;
    font-weight: 50;
    padding-left: 80px;
}
.mid-img img{
    height: 40vh;
}
#about-me-container{
    height: 80vh;
}
.small-container{
    padding-top: 20vh;
    padding-left: 10vw;
    padding-right: 15vw;
    display: flex;
    justify-content: space-between;
}
.my-img{
    padding-top: 8vh;
}
.my-img img{
    height: 40vh;
}
.about-me-content{
    padding-right: 10vw;
    padding-top: 8vh;
}
span{
    font-size: 3.5vh;
    font-family: 'Poppins', sans-serif;
}
.new{
    font-size: 1.8vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 10;
}
.btn-1{
    margin-top: 2vh;
    /* padding-top: 3vh;
    padding-left: 4vh; */
    /* padding: 8px 20px 10px 20px; */
    padding: 1.5vh;

    color: white;
    background-color: yellow;
    border: 0px;
    font-size: 2vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;


}
.what-i-do{
    height: 10vh;
    /* background-color: red; */
    text-align: center;
}
.what-i-do h1{
    font-family: 'Poppins', sans-serif;
    font-size: 5vh;
    font-weight: 100;

}